
body {
	min-width: 320px;    
	margin: 0;
	font-family: "SF Pro Display", "Roboto",  sans-serif;
	font-size: 16px;
	color: #000000;
	background-color: $white;
	line-height: normal;
	overflow-x: hidden;
	transition: .3s;
}

body.dark {
	background-color: $darkThemeBackground;
	color: $white;
}

.modal-active {
	overflow: hidden;
}

*::-webkit-scrollbar {
	width: 3px;
	/* ширина для вертикального скролла */
	border-radius: 50px;
	background: #fcfcfc;
}
*::-webkit-scrollbar-thumb {
  background: #BEC0C2;
  box-shadow: 0px 0px 5px rgba(39, 49, 66, 0.08);
  border-radius: 50px;
  &:hover {
    background: #273142;
  }
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
}

.fixed-container {
	max-width: 320px;
	margin: 0 auto;
	padding: 0 20px;
	@media (min-width: $small) {
		max-width: $small;
	}
	@media (min-width: $medium) {
		@include fix-cont($medium, 40px)
	}
	@media (min-width: $big) {
		@include fix-cont($big, 15px)
	} 
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 ;
  border:0 ;
  height: 1px; 
  width: 1px; 
  overflow: hidden;
}
