//Разрешения для медиа-запросов
$small: 768px;
$medium: 1024px;
$big: 1200px;


//Цвета
$white: #f7f7f7;
$orange: #5acbff;
$orangeHover: #5a89ff;
$blue: #5acbff;
$grey: #8993ad;
$black: #000000;
$overlay: rgba(0, 0, 0, 0.7);
$grey-points: #ebebeb;
$gradient: linear-gradient(to left, #004c9e, #00d366);
$vkFbBlue: #5d84ae;
$twitterBlue: #00acee;

//Контент 
$star: "\002A";