.btn {
	display: block;
	color: $white;
	background-color: $orange;
	padding: 18px;
	border: none;
	cursor: pointer;
	text-align: center;
	border-radius: 6px;
	@media (min-width: $medium) {
		padding: 24px;
	}
	@media (min-width: $big){
		padding: 20px;
	}
	&:hover {
		background-color: $orangeHover;
		transition: .2s;
	}
}
.btn_pink {
	@media (min-width: $medium) {
		color: $blue;
		border: 1px solid $blue;
		background-color: $white;
		transition: all .3s;
		&:hover {
			color: $white;
			background-color: $blue;
		}
	}
}

.btn_pink.dark {
	background-color: inherit;
	&:hover {
		color: $darkThemeBackground
	}
}

.toggle-theme {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	& svg {
		max-width: 100%;
		max-height: 100%;
	}
}
