.examples-block {
	background: url('src/assets/img/background-tags.jpg');
	background-position: center;
	background-attachment: fixed;
}

.examples-block.dark {
	background-image: url('src/assets/img/background-tags-dark.jpg');
}


.examples-block__section {
	background: none;
}

.examples-block__title {
	padding-top: 63px;
	@media (min-width: $medium) {
		padding-top: 63px;
	}
	@media (min-width: $big) {
		padding-right: 7px;
	}
}

.examples__list {
	padding-top: 39px;
	@include flex-box(column nowrap, flex-start);
	gap: 3rem;
	@media (min-width: $medium) {
		gap: 9rem;
	}
	@media (min-width: $medium) {
		padding-top: 70px;
	}
	@media (min-width: $big) {
		padding-top: 70px;
		margin-bottom: 30px;
	}
}

.examples__item {
	width: 100%;
	position: relative;
	@media (min-width: $small) {
		width: 80%;
		&:nth-child(2n) {
			align-self: flex-end;
		};
	}
}


