.face {
	overflow: hidden;
}
.face__figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 77px;
	@media (min-width: $small) {
		flex-direction: row;
		justify-content: space-between;
	}
	@media (min-width: $medium) {
		padding-top: 70px;

	}
}

.face__ellipse-background {
	position: absolute;
	top: 136px;
	overflow: hidden;
	z-index: -1;
	width: 320px;
	height: 334px;
	background: url("../img/ellipse-big.png") no-repeat;
	background-size: 470px 391px;
	background-position-x: -58px;
	background-position-y: 35px;
	@media (min-width: $small) {
		width: 470px;
		height: 334px;
		background-position-x: 0;
		left: 50%;
	}
    @media (min-width: $medium) {
		width: 919px;
		height: 646px;
		left: initial;
		right: 16px;
		background-size: 919px 630px;
		background-position-x: 380px;
		background-position-y: 118px;
	}
	@media (min-width: $big) {
		height: 637px;
		background-position-x: 0;
	    background-position-y: -2px;
	    background-size: 100%;
	    left: 61%;
	}
}

.face__text {
	background-color: $white;
	padding-top: 8px;
	@media (min-width: $small) {
		order: -1;
	}
	@media (min-width: $medium) {
		margin-top: -82px;
		padding-top: 0;
	}
	@media (min-width: $big) {
		padding-top: 222px;
		padding-bottom: 256px;
	}
}

.face__picture-human {
	padding-left: 57px;
	@media (min-width: $medium) {
		margin-top: -14px;
		padding-left: 0;
	}
	@media (min-width: $big) {
		position: absolute;
		top: 125px;
		left: 67%;
	}
}

.face__title {
	margin-bottom: 20px;
	@media (min-width: $medium) {
		margin-bottom: 40px;
		letter-spacing: .1px;
	}
	@media (min-width: $big) {
		max-width: 800px;
		font-size: 80px;
		margin-bottom: 42px;
		letter-spacing: .4px;
	}
}

.face__conception {
	display: block;
	margin-top: 9px;
	@include font(16px, normal);
	color: $grey;
	text-align: center;
	line-height: 1.5;
	@media (min-width: $medium) {
		margin-top: 18px;
		font-size: 25px;
		letter-spacing: -.1px;
	}
	@media (min-width: $big) {
		margin-top: 10px;
		text-align: left;
	}
}

.face__button {
	width: 280px;
	@media (min-width: $medium) {
		width: 320px;
	}
	@media (min-width: $big) {
		width: 268px;
	}
}

.face__figcaption {
	@media (min-width: $big) {
		margin: 0;
	}
}
