.footer {
	color: $grey;
}

.footer__inner {
	padding-top: 45px;
	margin-bottom: 46px;
	@include flex-box(column wrap, space-between);
	@media (min-width: $small) {
		flex-flow: row nowrap;
	}
	@media (min-width: $medium) {
		padding-top: 106px;
		margin-bottom: 64px;
		@include flex-box(row nowrap, space-between);
	}
	@media (min-width: $big) {
		padding-top: 82px;
	}
}

.footer__central-block {
	padding-top: 30px;
	margin-bottom: 24px;
	@media (min-width: $small) {
		padding-top: 0;

	}
	@media (min-width: $medium) {
		margin-right: -51px;
	}
	@media (min-width: $big) {
		margin-right: -87px;
	}
}

.footer__right-block {
	@media (min-width: $big) {
		margin-right: 25px;
	}
}

.footer__block-social {
	@media (min-width: $medium) {
		margin-top: -6px;
	}
}

