.header__inner {
		padding-top: 30px;
		position: relative;
		align-items: center;
		@include flex-box(row nowrap, space-between);
		@media (min-width: $medium) {
			align-items: start;
			padding-top: 37px;
		}
		@media (min-width: $big) {
			padding-top: 42px;
		}
}

.header__right-block {
		@media (min-width: $big) {
			margin-top: -7px;
		}
}	


