.modal-widget {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  top: 0;
  left: 0;
}

.modal-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: .5);
  z-index: 3;
  animation: overlayShow;
  animation-duration: .3s;
}

.modal-overlay.close {
  animation-name: overlayHide;
}

.modal-container {
  position: relative;
  background: $white;
  padding: 10px;
  z-index: 5;
  border-radius: 6px;
  animation-name: containerShow;
  animation-duration: .3s;
  max-height: 99vh;
  overflow: auto;
}

.modal-container.dark {
  background: $darkThemeBackground;
}

.modal-container.close {
  animation-name: containerHide;
  
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes overlayHide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes containerShow {
  from {
    transform: scale(0.1);
  }

  to {
    transform: scale(1);
  }
}

@keyframes containerHide {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}