.burger-button {
	display: inline-block;
	width: 25px;
	height: 20px;
	box-sizing: content-box;
	border: none;
	cursor: pointer;
	background-color: transparent;
	@include flex-box(column nowrap, space-between);
	@media (min-width: $medium) {
		width: 47px;
		height: 35px;
		background-size: 47px 35px;
	}
	@media (min-width: $big) {
		display: none;
	}
	& span {
		background: $gradient;
		width: 100%;
		height: 3px;
		display: block
	}
}

.nav-mobile {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 3;
	@media (min-width: $big) {
		display: none;
	}
}

.nav-mobile_open {
	display: block;
}

.nav-mobile .nav-overlay {
	position: absolute;
	background: $overlay;
	z-index: -2;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	animation-name: openOverlay;
	animation-duration: .3s;
}
.nav-mobile .nav-overlay_close {
	animation-name: closeOverlay;
	animation-duration: .3s;
}

.nav-mobile .nav__menu {
	gap: 20px;
	z-index: 3;
	position: absolute;
	background-color: $white;
	height: 100vh;
	width: 30vw;
	padding: 20px;
	padding-top: 50px;
	animation-name: openMenu;
	animation-duration: .3s;
}

.nav-mobile .nav__menu.dark {
	background-color: $darkThemeBackground;
}

.nav-mobile .nav__menu_close {
	animation-name: closeMenu;
	animation-duration: .3s;
}

.nav__menu {
	display: flex;
	flex-direction: column;
	@media (min-width: $big) {
		flex-direction: row;
	}
}

.nav__item {
	border-bottom: 1px solid $grey-points;
	transition: .3s;
	@media (min-width: $big) {
		margin-right: 30px;
		border-bottom: none;
		&:hover {
			color: $blue;
			text-decoration: underline;
		}
	}	
}

.nav__li {
	margin-bottom: 13px;
	@media (min-width: $big) {
		margin-bottom: 11px;
	}
}

.nav__link {
	font-size: 15px;
	@media (min-width: $medium) {
		font-size: 18px;
	}
	&:hover {
		color: $blue;
		text-decoration: underline;
	}
}

.nav_hidden {
	position: absolute;
	visibility: hidden;
	height: 0;
	transition: all .3s ease;
	display: none;
	@media (min-width: 1200px) {
		position: static;
		visibility: unset;
		height: 100%;
		display: flex;
		align-items: center;
	}
}

.nav__button {
	margin-right: 20px;
}


@keyframes openMenu {
	from {
		left: -30vw
	}
	to {
		left: 0;
	}
}

@keyframes closeMenu {
	from {
		left: 0
	}
	to {
		left: -30vw;
	}
}

@keyframes openOverlay {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes closeOverlay {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}